
<div class="col-md-8 main about">
  <img src="/img/maps/virgin-map.png" alt="map of the trail"/><br>
  <h1>Game created by:</h1>
  <br>
  <h4>Andrew Dang</h4>
  <h4>Clayton Easterbrooks</h4>
  <h4>Leah Klamkin</h4>
  <h4>Christian Lei</h4>
  <br>
  <br>
  <h4>&copy; 2015 licensed by MIT</h4>
  <h4>Powered by Bing</h4>
  <h4>Sponsored by Kush Push</h4>
  <br>
  <a class="btn" href="/">Back</a>
</div>
