<div class="col-md-8 main">
  <div class="column-text">
  <h1 class="logo">Trail Blazer</h1>
  <h3>Can you make it home?</h3>
  <br>
  <div id="index-img-box">
    <img src="/img/coffee.png" alt="A coffee cup" width="100px" height="100px">
    &nbsp; &nbsp;<img src="/img/avatar.png" alt="Avatar" width="150px" height="220px">
    &nbsp; &nbsp; <img src="/img/beer.png" alt="A beer mug" width="100px" height="100px">
  </div>
  <br>
  <br>
  <a class="btn btn-lg" href="/intro">Play </a>&nbsp; &nbsp;
  <a class="btn btn-lg" href="/about">About </a>
</div>
</div>
