<h1 class="logo">Trail Blazer</h1>
<h3>Can you make it home?</h3>
<br>
<img src="/coffeecup.jpg" alt="A coffee cup"> <img src="/avatar" alt="Avatar">  <img src="/beermug.jpg" alt="A beer mug">
<br>
<br>
<a class="btn" href="/intro">Play game</a>
<a class="btn" href="/about">About</a>
