<div class="col-md-8">
  <div class="column-text">
    <img src="/img/avatar.png" alt="Image of avatar" width="150px" height="220px">
    <h1>Prologue:</h1>
    <p>It was another dreary, rainy day in Portland.</p>
    <p>You finish up your Friday code review, swing by Fred Meyer on SE Hawthorne and Cesar Chavez for some toilet paper, and are ready for a beer.</p>
    <p>Or maybe a cup of coffee. You can't decide...</p>

    <img src="/img/cityscape.png" alt="Image of Portland cityscape" class="cityscape">

    <h1>Instructions:</h1>
    <p>Try to get to your house on NW 23rd without dying.</p>
    <p>Keep up your energy and happiness levels, or else!</p>
    <p>Along the way you must choose to either drink alcohol or coffee.</p>
    <p>Beer gives you happiness, and coffee gives you energy.</p>
    <br>
    <a class="btn" href="/new_character">Continue</a>
  </div>
</div>
