<div class="col-md-8 main">
  <div class="column-text">
    <img src="/img/avatar.png" alt="Image of avatar" width="150px" height="220px">
    <h1>Prologue:</h1>
    <h4>It was another dreary, rainy day in Portland.</h4>
    <h4>You finish up your Friday code review, swing by Fred Meyer on SE Hawthorne and Cesar Chavez for some toilet paper, and are ready for a beer.</h4>
    <h4>Or maybe a cup of coffee. You can't decide...</h4>

    <a class="btn btn-lg" href="/new_character">Continue</a>
  </div>
</div>
