<img src="avatar.jpg" alt="Image of avatar">
<h2>Prologue:</h2>
<p>It was another dreary, rainy day in Portland. You finish up your Friday code review, swing by Fred Meyer on SE Hawthorne and Cesar Chavez for some toilet paper, and are ready for a beer. Or maybe a cup of coffee. You can't decide...</p>

<img src="cityscape.jpg" alt="Image of Portland cityscape">

<h3>Instructions:</h3>
<p>Try to get home alive. Keep up your energy and happiness levels, or else! Along the way you must choose to either drink alcohol or coffee.</p>
<br>
<a class="btn" href="/new_character">Continue</a>
