<div class="col-md-8">
  <div class="column-text">
    <h1>Who are you again?</h1>
    <br>
    <form id="new_character" action="/new_character" method="post">
        <label id="name" class="form-label-text">Name:</label>
        <input class="form-input-text" id="name" name="name" type="text">
        <button type="submit" class="form-btn">Set</button>
    </form>
  </div>
</div>
