<div class="col-md-8">
  <img src="/img/avatar.png" class="animated bounceInLeft">
  <img src="/img/cityscape.png" width="80%">

  <p><a href="INSERT RANDOM EVENT HERE" class="btn-turn-event btn">Continue</a></p>
</div>
