<div class="col-md-8 main">
  <img src="/img/avatar.png" class="animated bounceInLeft">
  <img src="/img/cityscape.png" width="80%">

  <h1>Instructions:</h1>
  <h4>Try to get to your house on NW 23rd without dying.</h4>
  <h4>Keep up your energy and happiness levels, or else!</h4>
  <h4>Along the way you must choose to either drink alcohol or coffee.</h4>
  <h4>Beer gives you happiness, and coffee gives you energy.</h4>
  <br>

  <p><a href="/turn/1" class="btn-turn-event btn">Continue</a></p>
</div>
