<h1>SE 39th and Hawthorne</h1>


  <div class="status-bar box">
  <strong><%= @green_status %></strong>
  </div>

  <div class="stats-box">
    <span class="avatar"><img src="avatar.jpeg" alt="gravitar"/></span>
    <p>Energy: <span class="energy-level"><%= %></span></p>
    <p>Happiness: <span class='happiness-level'><%= %></span></p>
    <p>Money: <span class="money-level">$ <%=%></span></p>
  </div>
