<div class="col-md-8 main">
  <div class="win">

    <h2>You win! You made it home safely!</h2>
    <% if @kyle == true %>
      <h3 class="kyle">You were found laying outside the bar by the angellic father-figure Kyle Mellander, who took you home in his soccer-mom van, fed you nourishing glass cans of organic, free-range, grass-fed, sustainable, gluten-free, locally sourced, baby food, and tucked you into bed with a kiss goodnight. Game over.
      </h3>
    <% end %>

    <a class="btn" href="/">Next Friday Night...</a>
  </div>
</div>
