body {
  background-color: black;
  color: #FFFFFF;
}

.container {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}


.logo {
  text-align: center;
  font-size: 7em;
}

a {
  color: #FFFFFF;
}

.btn {
  border: 2px solid white;

}

.form-text {
  color: black;
}

.form-btn {
  color: #FFFFFF;
  background-color: black;
  border: 2px solid white;
}
