body {
  background-color: black;
  color: #FFFFFF;
}

.container {

}

.col-md-8 {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  border: 5px solid white;
  margin-top: 5%;
  margin-bottom: 0%;
  padding-left: 0px;
  padding-right: 0px;
}

.column-text {
  margin: 20px;
}


.logo {
  text-align: center;
  font-size: 7em;
}

a {
  color: #FFFFFF;
}

.btn {
  border: 2px solid white;
  font-size: 36px;
  border-radius: 0px;
}

.btn-turn-event {
  border: 2px solid white;
  padding: 5px;
  font-size: 1.5em;
  margin-right: auto;
  margin-left: auto;
  margin-top: 1%;
  }

#index-img-box {
  float: center;
}
.box {
  border: 2px solid white;
  margin: 30px;
  padding: 20px;
}

.form-input-text {
  color: black;
  font-size: 18px;
}

.form-label-text {
  font-size: 24px;
}

.form-btn {
  color: #FFFFFF;
  background-color: #000000;
  border: 2px solid #ffffff;
  font-size: 18px;
}

.status-bar {
  font-size: 2em;
}

.green-status-bar {
  color: #008000;
  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  font-size: 1.1em;
}

@keyframes blinker {
    0% {  opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}


.avatar {
  margin-bottom: 3px;
}

.header-block {
  border-bottom: 5px solid white;

}
.stats-box {
  border-right: 5px solid white;
  float: left;
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1em;
  width: 100%;
}

@media screen and (max-width: 992px) {
  .stats-box {
    border-right: none;
    border-bottom: 5px solid white;
    text-align: center;
  }
}

.status {
  float: center;
  text-align: center;
  font-weight: bold;
  border-bottom: 3px solid white;
  padding: 5px;
}

.header-block {
  padding-top: 1px;
}

.turn-content {
  margin-top:7%;
}

.turn-event {
  font-size: 1em;
}

#beer-input {
  margin-top: 3px;
  margin-bottom:10px;
}

.crazy-maniacal-running {
  width:100px;
  height:200px;
  margin: 10%;
  animation-name: foo;
  transform: translate3d(100px, 100px, 0px);
  animation-iteration-count: infinite;
  clear:
}

@keyframes foo {
    0%   {left:0px; top:0px; transform: translate3d(50px, 40px, 0px);}
    25%  {left:200px; top:0px; transform: translate3d(50px, 50px, 0px);}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}

.bounceInLeft {
  -webkit-animation: bounceInLeft 1s, bounceOutRight 2s;
  -webkit-animation-delay: 0s, 1.5s;
}

.cityscape {
  width: 90%;
}

/*.coffee-button {
  float: left;
}


.beer-button {
  float: right;
}*/




.energy-level,
.happiness-level,
.money-level {
  text-align: right;
  width: 100%;
}

.map-button {
  align: center;
}
.btn-small {
  font-size: 18px;
}

.running-page {
  background-image: url ("/img/cityscape.png");
}
