body {
  background-color: black;
  color: #FFFFFF;
}

.container {
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}


.logo {
  text-align: center;
  font-size: 7em;
}

a {
  color: #FFFFFF;
}

.btn {
  border: 2px solid white;

}

.box {
  border: 2px solid white;
  margin: 30px;
  padding: 20px;
}

.form-text {
  color: black;
}

.form-btn {
  color: #FFFFFF;
  background-color: black;
  border: 2px solid white;
}

.status-bar {
  font-size: 20px;
}

.green-status-bar {
  color:#00CC00;
  font-size: 20px;
}

.stats-box {
  border: 2px solid white;
  float: left;
  width: 20%;
  margin: 30px;
  padding: 20px;
  font-size: 18px;
  text-align: left;

  animation-name: blinker;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
